{% extends 'base.html' %}

{% block title %}form{% endblock title %}

{% block content %}

<div class="container">
    <h1>Buscando Soluções</h1>
    <div>
        <form id="SearchView" action="{% url 'btelecomapp:SearchView' %}" method="GET">
          <label for="id_porta1">Porta 1:</label>
                <select name="id_porta1" id="id_porta1">
                <option selected="selected">----</option>
                {% for cat in SearchView %}
                    <option value="{{cat.porta1}}">{{cat.porta1}}</option>
                {% endfor %}
                </select>

            <label for="id_porta2">Porta 2:</label>
                <select name="id_porta2" id="id_porta2">
                <option selected="selected">----</option>
                {% for cat in SearchView %}
                    <option value="{{cat.porta2}}">{{cat.porta2}}</option>
                {% endfor %}
                </select>

            <label for="id_porta3">Porta 3:</label>
                <select name="id_porta3" id="id_porta3">
                <option selected="selected">----</option>
                {% for cat in SearchView %}
                    <option value="{{cat.porta3}}">{{cat.porta3}}</option>
                {% endfor %}
                </select>

            <label for="id_porta4">Porta 4:</label>
                <select name="id_porta4" id="id_porta4">
                <option selected="selected">----</option>
                {% for cat in SearchView %}
                    <option value="{{cat.porta4}}">{{cat.porta4}}</option>
                {% endfor %}
                </select>

            <label for="id_porta5">Porta 5:</label>
                <select name="id_porta5" id="id_porta5">
                <option selected="selected">----</option>
                {% for cat in SearchView %}
                    <option value="{{cat.porta5}}">{{cat.porta5}}</option>
                {% endfor %}
                </select>

            <label for="id_porta6">Porta 6:</label>
                <select name="id_porta6" id="id_porta6">
                <option selected="selected">----</option>
                {% for cat in SearchView %}
                    <option value="{{cat.porta6}}">{{cat.porta6}}</option>
                {% endfor %}
                </select>
            <input class="btn btn-outline-success" type="submit">
        </form>
    </div>
</div>

<div class="container-fluid">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Titulo</th>
                <th scope="col">Numero</th>
                <th scope="col">Porta 1</th>
                <th scope="col">Porta 2</th>
                <th scope="col">Porta 3</th>
                <th scope="col">Porta 4</th>
                <th scope="col">Porta 5</th>
                <th scope="col">Porta 6</th>
                <th scope="col">Elementos</th>
                <th scope="col">Qtd. de Porta</th>
                <th scope="col">Imagem</th>
            </tr>
        </thead>
        <tbody>
        {% for cat in SearchView %}
            <tr>
                <td><h6>{{cat.criado_em}}</h6></td>
                <td>{{cat.titulo}}</td>
                <td>{{cat.numero}}</td>
                <td>{{cat.porta1}}</td>
                <td>{{cat.porta2}}</td>
                <td>{{cat.porta3}}</td>
                <td>{{cat.porta4}}</td>
                <td>{{cat.porta5}}</td>
                <td>{{cat.porta6}}</td>
                <td>{{cat.elementos}}</td>
                <td>{{cat.qtdportas}}</td>
                <td>
                    <a href="{{ cat.image.url }}" target="_blank">
                        <img src="{{ cat.image.url }}" alt="" class="img-fluid" style="height: 50px; object-fit: cover;">
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<nav aria-label="Page navigation example">
    {% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="page-link" ><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
            <li class="page-link" ><span>{{ i }} <span class="sr-only"></span></span></li>
        {% else %}
            <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="page-link"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
</nav>

</div>

{% endblock %}

